header {
  background-color: #93C6B7;
  color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > .column {
  flex: 1;
  text-align: center;
}
